*, *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* overflow-x: hidden; */
    /* width: 100%; */
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit
    }
}
